
body {
    min-height: 100%;
    margin: 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Mainbox{
    border: 1px black solid;
    height: 80vh;
    width: 90vh;
    background-color: aquamarine;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    background-color: antiquewhite;
}

.minibox{
    border: 1px black solid;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Text Style */
.text{
    font-size: x-large;
    font-weight: bold;
    font-family: sans-serif;
}

.white-text{
    color: white;
}

.black-text{
    color: black;
}


/* color box */
.yellow-box{
    background-color: yellow;
}

.black-box{
    background-color: black;
    grid-area: 1/2/2/5;
}

.green-box{
    background-color: rgb(11, 136, 11);
}

.coklat-box{
    background-color: rgb(157, 40, 1);
}

.pink-box{
    background-color: rgb(246, 100, 241);
    grid-area: 2/3/4/3;
}

.red-box{
    background-color: red;
}

.oldblue-box{
    background-color: rgb(44, 68, 150);
    grid-area: 4/1/7/2;
}

.blue-box{
    background-color: rgb(42, 188, 228);
    grid-area: 2/4/3/5;
}

.white-box{
    background-color: white;
    
}

.grey-box{
    background-color: rgb(136, 136, 136);
    grid-area: 4/2/6/4;
}

.purple-box{
    background-color: blueviolet;
    grid-area: 3/4/7/5;
}

.orange-box{
    background-color: rgb(249, 178, 46);
    grid-area: 6/2/7/4;
}

